[package]
name = "example-theme-preview"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
lipgloss.workspace = true
anyhow.workspace = true
